node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
credentials.json
google-services.json
google-play-service-account*.json
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.production
ios/
android/
google-service-account.json
